<!DOCTYPE html>
<html>
<body>
    <h2> Formulário com servidor HTTP em Python </h2>
    
    <form method="post", enctype="multipart/form-data" action='/sucess'>
         <label for="full_name"> Nome Completo: </label> <br>
         <input type="text" name="full_name" value="Licio Lima"> <br>
         <label for="country"> Pais </label> <br>
         <input type="text" name="country" value="Pernambuco"> <br> <br>
         <input type="submit" value="Salvar">
    </form>
<a href="/show_records"> Dados Cadastrados </a>
</body>
</html>